.project {
    background: linear-gradient(to bottom right, #0099ff 0%, #00ff99 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0px;
}
.project h1{
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
